.navbar.navbar-inverse.navbar-fixed-top {
    display: grid;
    grid-template-columns: 50% repeat(4, 40%);
    background-color: #f7f7f7;
}

ul.nav.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

ul.nav.navbar-nav li {
    list-style: none;
}

ul.nav.navbar-nav li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.navbar-brand{
    font-size:20px;
}